NTFY_AUTH_FILE=/var/lib/ntfy/user.db
NTFY_AUTH_DEFAULT_ACCESS=deny-all
NTFY_AUTH_USERS=ntfy:{{ ntfy_service_password | password_hash('bcrypt', salt=(ntfy_service_token | hash('sha256'))[:22], ident='2b') }}:user
NTFY_AUTH_ACCESS=ntfy:alerts:rw
NTFY_AUTH_TOKENS=ntfy:{{ ntfy_service_token }}:alertmanager
