[Container]
Image={{ ntfy_service_image }}
ContainerName=ntfy-server
Environment=NTFY_LISTEN_HTTP=:8081
Environment=NTFY_BASE_URL={{ ntfy_service_base_url }}
Environment=NTFY_BEHIND_PROXY=true
Environment=NTFY_CACHE_FILE=/var/lib/ntfy/cache.db
Environment=NTFY_CACHE_DURATION=72h
EnvironmentFile=./configs/auth.env
Volume={{ service_home }}/data:/var/lib/ntfy:Z
Volume=./configs/templates/:/etc/ntfy/templates/:ro,Z
Exec=serve
Memory=128M
HealthCmd=wget -qO /dev/null http://127.0.0.1:8081/v1/health
HealthInterval=60s
HealthStartPeriod=30s
HealthOnFailure=kill
